.page{
background-color: rgb(238, 144, 144);

}
.text{
    font-size: 35px;
    margin: 10px;

}
.my1{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgb(145, 252, 202); 
 color: rgb(0, 0, 0);
 height: 50px;
 margin: auto;
 width: 1220px;
 min-width: 800px;  
 font-size: 50px;
}
.bodyimg {
    background: rgb(250,59,124);
background: linear-gradient(11deg, rgba(250,59,124,0.36458333333333337) 0%, rgba(170,170,242,0.4150035014005602) 35%, rgba(245,135,196,1) 100%);
} 
